body{
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.App{
  display: flex;
  height: 100vh;
  min-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

#todo{
  border: 2px solid rgb(255, 183, 75);
  border-radius: 10px;
  outline: 0px;
  padding: 10px
}
